@model IEnumerable<ShinTest.Models.TblActiveItem>

<p>報名</p>

<form id="form">

    <div class="row">
        <div class="col-6">
            <label for="phone">手機</label>
            <input type="text" name="phone" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="name">姓名</label>
            <input type="text" name="name" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="email">信箱</label>
            <input type="text" name="email" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="Item">活動項目</label>
            <select name="Item">
                <option value="0">請選擇</option>
                @foreach (var item in Model)
                {
                    <option value="@item.CItemId">@item.CActiveDt @item.CItemName  </option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @*<input onclick="test()" type="button" value="報名" id="test" />*@
            <button class="btn btn-primary" onclick="test()">123</button>
        </div>
    </div>

</form>

<script>


    function test(){

        var x = document.querySelectorAll('input')[0].innerText;

                 console.log(x)
    }



</script>